<a href="https://colab.research.google.com/github/Arkantrust/r-universe/blob/main/module_2/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objetos y Operaciones

## David Dulce

# Primeras Operaciones

El segundo módulo estará dedicada a dar nuestros primeros pasos en R.

Al finalizar este módulo estarás en capacidad de:

    Realizar operaciones aritméticas básicas, de relación y lógicas en R
    Explicar qué es un objeto en R y cuáles son sus principales clases
    Explicar en tus propias palabras qué es el directorio de trabajo


Ya tenemos todo listo para empezar a usar R. Tu primera actividad de este módulo será leer el Capítulo 4 del libro ["Empezando a usaR: Una guía paso a paso"](https://www.icesi.edu.co/editorial/empezando-usar-web/)

## Ejercicio 1

Multiplica 4 por 7.

In [1]:
4 * 7

[1] 28

Eleva 78 a la potencia de 3.

In [2]:
78^3

[1] 474552

En una sola línea de código, resta 2,5 a 10 y luego eleva la respuesta a la potencia de 1.3 y a toda esa cantidad súmale 1.789.

In [3]:
(10 - 2.5)^1.3 + 1.789

[1] 15.51613

Divide 5 entre 2,5 y luego divide la respuesta entre 4 (todo en una sola linea de código).

In [4]:
( 5 / 2.5 ) / 4

[1] 0.5

## Ejercicio 2

Crea un objeto llamado obj1 en el que asignes el número 15.

In [5]:
obj1 <- 15
obj1

[1] 15

Crea un objeto llamado obj2 con el resultado de la suma de 100 + 25.

In [6]:
obj2 <- 100 + 25
obj2

[1] 125

Multiplica los objetos obj1 y obj2 y guarda la respuesta en el objeto obj3.

In [7]:
obj3 <- obj1 * obj2
obj3

[1] 1875

Resta 1 a obj3 y calcula la raíz cuadrada de ese resultado. Guarda esto como un objeto llamado obj4.

In [8]:
obj4 <- sqrt(obj3 - 1)
obj4

[1] 43.28972

Muestra el obj4 en la consola.

In [9]:
print(obj4)

[1] 43.28972

## Ejercicio 3

Un concesionario de carros está estudiando cuánto tiempo le toma a sus clientes comprar un nuevo carro (contados a partir de la última compra en le concesionario del carro anterior) se recogen los datos que se presentan a continuación. Tiempo para la compra del siguiente carro en el concesionario (en meses)


| Cliente | Tiempo en meses |
| ------ | ---- |
| 1 |	29 |
| 2 |	63 |
| 3 |	7 |
| 4 |	23 |
| 5 |	84 |
| 6 |	10 |
| 7 |	9 |

Crea un objeto con los meses y encuentra el tiempo a comprar el siguiente carro en años. Para esto divide la duración de todos los clientes por 12.

In [35]:
time.months <- c(29, 63, 7, 23, 84, 10, 9)
time.months

[1] 29 63  7 23 84 10  9

Converting to years

In [36]:
time.years <- time.months /12
time.years

[1] 2.4166667 5.2500000 0.5833333 1.9166667 7.0000000 0.8333333 0.7500000

## Ejercicio 4

1. Guarda tu script en un archivo con el nombre `Script_ejer_cap_4.R`.

2. Guarda tu workspace en un archivo con el nombre `Ws_ejer_cap_4.RData`.

In [10]:
# 1 can only be done in desktop

save.image(file = "Ws_ejer_cap_4.RData")

## Preguntas 1

- Carga el workspace que creaste en el ejercicio (recuerda que lo llamaste `Ws_ejer_cap_4.RData`). En la sección 5.1 del libro Empezando a usaR: Una guía paso a paso puedes ver como cargar el workspace.

Ahora eleva al cubo (a la 3) el objeto con nombre obj4.

El resultado es:

In [12]:
load(file = "Ws_ejer_cap_4.RData")
objects()

[1] "obj1" "obj2" "obj3" "obj4"

In [13]:
obj4^3 # mal

[1] 81124.94

In [14]:
43.2897216438267^3

[1] 81124.94

- Empleando el mismo workspace que empleaste en la pregunta anterior, multiplica los objetos obj1 y obj2.


El resultado es:

In [40]:
obj1 * obj2

[1] 1875

- ¿Cuál de las siguientes operaciones genera como resultado FALSE?

In [42]:
9 + (5*4) != 9 + 5 * 4

[1] FALSE

# Objetos

Ya tenemos claro cómo hacer operaciones en R. Ahora, concentremos nuestra atención en las principales clases de objetos que podemos encontrar en R.

Lee el Capítulo 5 del libro Empezando a usaR: Una guía paso a paso.

## Ejercicio 5

En un estudio médico los pacientes deben ser excluidos de este si pesan más de 90 kg o si son menores de 18 años o mayores de 60 años. La prueba para el primer día del estudio permitió recoger los datos que se presentan en el Cuadro1.

| Paciente | Edad (años) | Peso (kg) |
| --- | --- | --- |
| 1 | 50 | 80
| 2 | 17 | 75
| 3 | 39 | 92
| 4 | 27 | 105
| 5 | 90 | 60

Nuestro objetivo es determinar cuántos pacientes del primer día son aptos para el estudio.


### a.

Crea un objeto que contenga las edades y nómbralo edad.

In [76]:
ages <- c(50, 17, 39, 27, 90)

### b.

Crea un objeto que contenga el peso de cada uno de los pacientes y nómbralo peso.

In [77]:
weights <- c(80, 75, 92, 105, 60)

### c.

Crea un objeto que contenga el número de los pacientes. Guarda el objeto con el nombre ID.

In [78]:
ids <- seq(1, 5)

### d.

Ahora creemos un data.frame cuya primera columna sea el objeto ID, la segunda columna (o variable) sea la edad y la tercera el peso. Llamemos a este objeto datos.

In [81]:
patients <- data.frame(ID = ids, age = ages, weight = weights)
str(patients)

'data.frame':	5 obs. of  3 variables:
 $ ID    : int  1 2 3 4 5
 $ age   : num  50 17 39 27 90
 $ weight: num  80 75 92 105 60

### e.

Ahora escribe un código con Operaciones de relación y lógicas (ver sección 5.2.2 del libro) para encontrar que pacientes cumplen los dos criterios.

In [49]:
eligible <- patients$weight <= 90 & patients$age >=18 & patients$age <= 60

# exactly which?
patients$ID[which(eligible)]

[1] 1

### f.

Empleando código, encuentra la edad de la cuarta paciente

In [50]:
patients[4, "age"]

patients[4, 2]

patients$age[4]

[1] 27

[1] 27

[1] 27

## Ejercicio 6


1. Guarda tu script en un archivo con el nombre `Script_ejer_cap_5.R`.


2. Guarda tu workspace en un archivo con el nombre `Ws_ejer_cap_5.RData`.

In [51]:
# 1 can only be done in desktop

save.image(file = "Ws_ejer_cap_5.RData")

In [11]:
rm(list = ls())

## Preguntas 2

- Si estamos construyendo una base de datos con los clientes de una organización, el nombre de los clientes debería guardarse en un objeto de clase `character`.

- Para conocer la clase de todas las variables de un objeto de clase data.frame se puede emplear la función `str()`.

- Las unidades de carros vendidos en un mes debería ser un objeto de clase `integer`.

# WD

Ya tenemos claro cómo hacer operaciones en R y las clases de objetos. Ahora, concentremos nuestra atención en el directorio de trabajo.

Lee el Capítulo 6 del libro Empezando a usaR: Una guía paso a paso.

## Preguntas 3

- El working directory (directorio de trabajo) es importante cuando trabajamos en R por qué `es el archivo que contiene todos los objetos`. Esta está mal

- La función que nos permite ver cuál es el directorio de trabajo (working directory) es `getwd()`.

## Quiz

Carga el archivo EvalsegSem.RData. En este archivo encontrarás un objeto de clase data.frame. Empleando código podemos encontrar que la observación 242 de la segunda variable es

In [67]:
load("/content/second_semester_evaluation.RData")

all_objects <- ls()

In [82]:
# find out which objects are data.frames
data_frames <- all_objects[sapply(all_objects, function(x) is.data.frame(get(x)))]
data_frames

[1] "datos1"

In [69]:
datos1[242, 2]

[1] 27.9